body {
    font-family: Palatino, Georgia, serif;
    color: #333;
    background-color: #fcfcfc;
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
}

section h1,
section h2,
section h3,
section h4,
section h5 {
    font-family: Optima;
}
section h1, article h1 {
    font-size: 280%;
    line-height: 1;
    margin-bottom: 0;
}

section header, article header {
    margin-bottom: 80px;
}

h2 {
    font-size: 180%;
}
h3 {
    font-size: 130%;
}

body.home h2 {
    font-size: 100%;
    margin-top: 40px;
}

body>header, footer {
    color: #666;
    background-color: #e9e5e2;
    padding: 1px;
}

body>header {
    margin-bottom: 120px;
}

body>header div {
    float: left;
}

body>header div a,
body>header div a:visited {
    color: #444;
    text-decoration: none;
    padding-right: 20px;
}

body>header div, body>header h1 {
    font-size: 100%;
    padding: 15px;
    margin: 0;
    line-height: 1;
}

footer {
    font-size: 90%;
    text-align: center;
    margin-top: 120px;
}
footer p {
    margin: 15px;
}

footer a {
    color: #444;
}

section#content {
    width: 600px;
    margin: 0 auto;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #06a;
}

a:hover, a:active {
    text-decoration: underline;
}

a:visited {
    color: #258;
}

a[rev=footnote] {
    margin-top: -1em;
    color: #aaa;
    display: block;
    text-decoration: none;
}
a[rev=footnote]:hover, a[rev=footnote]:active {
    color: #666;
    text-decoration: none;
}

code {
    font-family: Menlo, "Bitstream Vera Sans Mono", "Luxi Mono", Monaco, monospace;
    font-size: 90%;
    color: #960;
}

ul.posts span.date {
    width: 130px;
    text-align: right;
    display: inline-block;
}

span.date {
    color: #999;
    font-size: 80%;
    vertical-align: baseline;
    padding-right: 10px;
}

article span.date {
    display: block;
}

.pubDate {
    text-align: left;
    font-size: 80%;
    text-transform: uppercase;
}

.next-link {
    margin: 60px 0;
    text-align: center;
}

ul.posts {
    list-style-type: none;
    padding: 0;
    margin: 15px 0;
}

ul.posts li {
    padding: 0;
    margin: 0;
}

hr {
    width: 20%;
    margin: 30px 0;
    border: none;
    border-top: 1px solid #ccc;
    height: 0;
    overflow: hidden;
    background: #999;
    color: #999;
}

sup {
    line-height: 0.8;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

figure {
    margin: 1em -1em;
    padding: 0.5em 1em;
}

figure code {
    font-size: 75%;
}