<!doctype html>
<html>
  <head>
    <title>{{page.title}} / Matthew Wilson</title>
    <meta http-equiv="Content-Type" content="text/html;
                                             charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/css/site.css">
    <link rel="stylesheet" type="text/css" href="/css/pygments.css">
    <link type="application/atom+xml" title="Posts" rel="alternate" href="/atom.xml" />
  </head>
  <body class="{{page.class}}">
    <header>
      <div><a href="/">Home</a></div>
      <h1>Wherein I, Matthew Wilson, write about development.</h1>
    </header>


    <section id="content">
    {{ content }}
    </section>
    
    <footer>
      <p>
        Copyright &copy; 2012 Matthew
        Wilson. <a href="mailto:matt@culturethree.com">Email me</a>.
      </p>
    </footer>
  </body>
</html>
